@charset "utf-8";
/* CSS Document */

html
{
	
}

body
{
	background-color:rgba(0,0,0,1);
	margin:0;
	padding:0;
	
	font-family:'Inknut Antiqua', serif;
	font-size:16px;
	color:white;
	
	overflow-x:hidden;
	-webkit-transform: translate3d(0,0,0);
}

header
{
	position:relative;
}

.back
{
	background-color:rgba(255,0,0,0.05);
	position:absolute;
	width:100%;
	height:100%;
}

.front
{
	float:right;
	width:70%;
}

#side
{
	position:absolute;
	width:30%;
}

#title
{
	padding-top:2%;
}

#titlebg
{
	position:absolute;
	z-index:-1;
}

.fit
{
	max-width:100%;
}

.center
{
	display:block;
	margin:auto;
	width:auto;
}

article
{
	padding:12%;
	padding-bottom:6%;
	text-align:right;
}

section
{
	padding:0;
	padding-bottom:0;
	margin-bottom:3%;
}

.node
{
	margin-top:6%;
}

.nodetitle
{
	font-size:3em;
	text-shadow:2px 2px rgba(20,20,20,1);
	
	padding:4px;
	padding-bottom:10px;
	
	display:inline-block;
	overflow:hidden;
	
	transition:color 0.6s, text-shadow 0.6s;
}

.nodetitle:hover
{
	text-shadow:2px 2px rgba(50,50,0,1);
	color:gold;
	transition:color 0.4s, text-shadow 0.4s;
}

.charquote
{
	font-size:2.4em;
	text-shadow:2px 2px rgba(20,20,20,1);
	text-align:center;
}

.nodetext
{
	color:rgba(200,200,200,1);
	margin-top:4%;
	margin-bottom:2%;
	
	text-align:left;
	text-shadow: 2px 2px rgba(50,50,50,1);
	font-size:1.8em;
}

#subtitle
{
	overflow:hidden;
	padding-bottom:6%;
	padding-top:2%;
}

.character
{
	padding:12%;
	margin-bottom:6%;
	
	background-repeat:no-repeat;
	background-size:cover;
	text-align:center;
}

.chartext
{
	color:white;
	font-size:1.75em;
	transition:color 0.6s;
}

.character:hover .chartext
{
	color:gold;
	transition:color 0.4s;
}

#crusader
{
	background-image:url(crusaderbg.jpg);
}

#plaugedoctor
{
	background-image:url(plaugedoctorbg.jpg);
}

#occultist
{
	background-image:url(occultistbg.jpg);
}

#highwayman
{
	background-image:url(highwaymanbg.jpg);
}

.clickable
{
	cursor:pointer;
}

.nocursor
{
	cursor:default;
}

.noevent
{
	pointer-events:none;
}

.noselect
{
	user-select:none;
}

footer
{
	position:absolute;
	background-color:rgba(25,25,25,1);
	width:100%;
	height:100px;
	
	display:inline-block;
}

.foot
{
	padding:20px;
	padding-right:40px;
	
	text-align:right;
	color:#AAAAAA;
	font-size:1.25em;
}

.char-front
{
	float:left;
	width:70%;
}

.charbg
{
	position:absolute;
	z-index:-1;
	float:left;
}

#page-crusader
{
	left:-100%;
}

#page-plaugedoctor
{
	left:-200%;
}

#page-occultist
{
	left:-300%;
}

#page-highwayman
{
	left:-400%;
}

.item
{
	padding:2%;
	margin:6%;
}

.itemimg
{
	float:left;
	width:25%;
	max-width:125px;
}

.itemimg-vertical
{
	float:left;
	width:25%;
	max-width:100px;
}

.itemtitle
{
	font-size:1.2em;
	display:block;
	padding-bottom:4%;
	color:white;
}

.itemtext
{
	width:72%;
	float:right;
	text-align:center;
	padding:1%;
}

.nodesubtitle
{
	text-align:center;
	color:white;
	font-size:1.5em;
	padding-top:4%;
	padding-bottom:2%;
}

.clearer
{
	clear:both;
}

@media screen and (max-width: 980px)
{
	body
	{
		font-size:0.75em;
	}
	
	.front
	{
		float:none;
		width:100%;
	}
	
	.nodetitle
	{
		font-size:2.5em;
	}
	
	.char-front
	{
		width:100%;
	}
	
	.charbg
	{
		width:100%;
	}

	#side
	{
		padding-top:6%;
		width:100%;
	}
	
	nav
	{
		margin:auto;
		width:75%;
	}
	
	#subtitle
	{
		margin:auto;
		padding-left:12%;
		padding-right:12%;
		margin-top:12%;
	}
}