/* CSS Document */

body
{
	background-color:#000;
	padding:0;
	margin:0;
}

#back
{
	width:100%;
	height:100%;
	overflow:hidden;
	position:fixed;
}

section
{
}

nav
{
	position:absolute;
	width:30%;
	height:65%;
}

#chartext
{
	position:relative;
}

.character
{
	width:100%;
	height:20%;
	
	color:white;
	font-size:200%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
}

.character_name
{
	position:relative;
	opacity:0;
}

#c_crusader
{
	background:url(c_crusader.jpg);
	background-size:cover;
}

#c_plaguedoctor
{
	background:url(c_plaguedoctor.jpg);
	background-size:cover;
}

#c_occultist
{
	background:url(c_occultist.jpg);
	background-size:cover;
}

#c_highwayman
{
	background:url(c_highwayman.jpg);
	background-size:cover;
}

#imgcenter
{
	position:absolute;
	z-index:-1;
}

#title
{
	position:absolute;
}

#subtitle
{
	position:absolute;
}

#info
{
	position:relative;
	top:60%;
	left:70%;
	
	color:white;
	font-size:250%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.infobox
{
	padding-top:0.3%;
	padding-bottom:0.3%;
}

.infotab
{
	width:25%;
	padding-top:0;
	padding-bottom:0;
	margin-left:-2%;
	
	color:white;
	font-size:60%;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.parallaxbg
{
	position:absolute;
}

.parallaxlow
{
	position:absolute;
}

.parallaxhigh
{
	position:absolute;
}

.character
{
	width:100%;
	height:22%;
	margin-bottom:1%;
	
	transition:margin-left 0.6s;
}

.character:hover
{
	margin-left:3%;
}